################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Naive_Bayes_Classifier/v16/.suo
/.vs/Iris_Classification/v16
